@page "/Create"
@attribute [Authorize(Policy = "Admin")]
@using BeitragRdrBlazorServerApp.Data
@inject NavigationManager navManager

<h3>Beitrag erstellen</h3>

<div class="container">
    <div class="row justify-content-center">
        <EditForm Model="@createBeitragDTO" OnValidSubmit="@OnValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="create-beitrag-entry">
                <div class="form-group">
                    <label>Name:</label>
                    <InputText id="name" class="form-control" @bind-Value="createBeitragDTO.Name" />
                </div>

                <div class="form-group">
                    <label>Description:</label>
                    <InputText id="desc" class="form-control" @bind-Value="createBeitragDTO.Description" />
                </div>

                <div class="form-group">
                    <label>Company:</label>
                    <InputSelect id="compid" class="form-select" @bind-Value="createBeitragDTO.CompanyId">
                        @if (companies != null)
                        {
                            <option>Select</option>
                            @foreach (var cnt in companies)
                            {
                                <option value="@cnt.Id">@cnt.Name</option>
                            }
                        }
                    </InputSelect>
                </div>
            </div>

            <div>
                <div class="form-group create-beitrag-entry">
                    <label>Facebook</label>
                    <div>
                        <label>Name:</label>
                        <InputText id="name" class="form-control" @bind-Value="createBeitragDTO.beitragFace.Name" />
                    </div>
                    <div>
                        <label>Description:</label>
                        <InputText id="name" class="form-control" @bind-Value="createBeitragDTO.beitragFace.Description" />
                    </div>
                </div>

                <div class="form-group create-beitrag-entry">
                    <label>Instagram</label>
                    <div>
                        <label>Name:</label>
                        <InputText id="name" class="form-control" @bind-Value="createBeitragDTO.beitragInsta.Name" />
                    </div>
                    <div>
                        <label>Description:</label>
                        <InputText id="name" class="form-control" @bind-Value="createBeitragDTO.beitragInsta.Description" />
                    </div>
                </div>

                <div class="form-group create-beitrag-entry">
                    <label>Pinterest</label>
                    <div>
                        <label>Name:</label>
                        <InputText id="name" class="form-control" @bind-Value="createBeitragDTO.beitragPintr.Name" />
                    </div>
                    <div>
                        <label>Description:</label>
                        <InputText id="name" class="form-control" @bind-Value="createBeitragDTO.beitragPintr.Description" />
                    </div>
                </div>
                <div class="form-group create-beitrag-entry">
                    <label>Post date</label>
                    <div>
                        <InputDate id="postdate" class="form-control" @bind-Value="createBeitragDTO.PostDate" />
                    </div>
                </div>
            </div>

            @if (tagstoupload.Count != 5)
            {
                <div class="row align-items-center create-beitrag-entry">
                        <label>Tags:</label>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Keyword" @bind="tag.Tag" />
                            <button class="btn btn-secondary" type="button" style="margin-top: 10px" @onclick="@(() => {AddToTagList(); })">Add to Tags</button>
                        </div>
                        <div class="col">
                            <Alert @bind-Show="ShowAlert" />
                        </div>
                </div>
            }

            @if (tagstoupload.Count != 0 && tagstoupload.Count != 5)
            {
                <div class="row form-group create-beitrag-entry justify-content-start">
                    <div class="row justify-content-start">
                        <div class="row">
                            @foreach (var tag in tagstoupload)
                            {
                                <Timer TimeInSeconds="2" Tick="@(() => {DissmissAlert();})" />
                                <div class="col">
                                    <p class="my-2 text-jusitfy">
                                        <label>@tag.Tag</label>
                                    </p>
                                    <button class="btn btn-danger" type="button" @onclick="@(() => { RemoveTag(tag); })">Remove</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>                
            }
            @if(tagstoupload.Count == 5)
            {
                <div class="row form-group create-beitrag-entry justify-content-start">
                    @foreach (var tag in tagstoupload)
                    {
                        <div class="col">
                            <p>
                                <label>@tag.Tag</label>
                            </p>
                            <button class="btn btn-danger" type="button" @onclick="@(() => { RemoveTag(tag); })">Remove</button>
                        </div>
                    }
                    <div class="col">
                        @if (tagstoupload.Count >= 5)
                        {
                            <p>Max. 5 keywords</p>
                        }
                    </div>
                </div>
            }
            <div class="row m-1">
                <div class="col-3">                    
                    <button class="btn btn-primary default-buttons" @onclick="(() => Back())">Back</button>
                </div>
                <div class="col-8">
                    <button class="btn btn-success default-buttons" type="submit">Submit</button>
                </div>              
            </div>           
        </EditForm>
    </div>
</div>
